<div class="container">
  <h1 class="my-4">About This Project</h1>
  <p>This application pulls weather data from the <a href="https://openweathermap.org/">OpenWeather API</a>. The data is refreshed periodically and includes current weather information for several cities.</p>
</div>
